* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3.5rem;
}

:root {
  --bg-color: #101010;
  --second-bg-color: #191919;
  --text-color: #fff;
  --second-color: #fff;
  --main-color: #f9004d;
  --big-font: 5.3rem;
  --h2-font: 4.2rem;
  --p-font: 1.1rem;
}

body {
  background: var(--text-color);
  color: var(--text-color);
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 25px 15%;
  transition-duration: 0.4s;
}

.logoku {
  color: var(--text-color);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar {
  display: flex;
}

.navbar li {
  position: relative;
}

.navbar a {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 20px;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--main-color);
  left: 0;
  bottom: -4px;
  transition: ease 0.4s;
}

.navbar a:hover::after {
  width: 100%;
}

#menu-icon {
  font-size: 32px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.btn-h {
  padding: 0 20px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  background: var(--main-color);
  color: var(--text-color);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  border-radius: 30px;
  transition: 0.5s;
  font-size: 14px;
}

.btn-h:hover {
  background-color: transparent;
  border: 2px solid #f20a38;
  cursor: pointer;
  transform: translateY(+5px);
}

section {
  padding: 120px 15%;
}

.tentang {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/image/rprofile.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.desk-s h1 {
  margin: 20px 0 20px;
  font-size: var(--big-font);
}

span {
  color: var(--main-color);
}

.desk-s h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.desk-s h4 {
  color: #b25068;
  font-size: 20px;
  letter-spacing: 2px;
}

.desk-s article {
  font-size: var(--p-font);
  margin-bottom: 55px;
}

.kontaksaya form {
  width: 380px;
  max-width: 100%;
  position: relative;
}

.kontaksaya form input:first-child {
  display: inline-block;
  width: 100%;
  outline: none;
  padding: 16px 140px 16px 15px;
  border: 2px solid var(--main-color);
  border-radius: 30px;
}

.kontaksaya form input:last-child {
  position: absolute;
  display: inline-block;
  border: none;
  background: var(--main-color);
  color: var(--text-color);
  padding: 12px 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 5px #000, 0px 0px #858585;
  cursor: pointer;
  top: 6px;
  right: 6px;
}

.kontaksaya form input:last-child:hover {
  background-color: #1f1f1f;
  color: #f20a38;
  transition: 0.5s;
  font-weight: bold;
}

.tentangsaya {
  width: 100%;
  padding: 100px 0px;
  background-color: #000;
}

.texttentang {
  width: 550px;
}

.utama {
  width: 1130px;
  max-width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.texttentang h2 {
  color: white;
  font-size: 55px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.texttentang h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.texttentang p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

button {
  background-color: #f20a38;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.5s;
}

button:hover {
  background-color: transparent;
  border: 2px solid #f20a38;
  cursor: pointer;
}

.pengalaman {
  background: var(--bg-color);
}

.pengantar {
  text-align: center;
}

.pengantar h2 {
  font-size: 55px;
  margin-bottom: 15px;
}

.pengantar p {
  color: var(--second-color);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: var(--p-font);
}

.isi {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, auto));
  grid-gap: 20px;
  align-items: center;
  margin-top: 4.5rem;
}

.row {
  background: var(--second-bg-color);
  padding: 55px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.35s;
}

.row i {
  color: var(--main-color);
  margin-bottom: 20px;
  font-size: 2.7rem;
}

.row h3 {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.row p {
  color: var(--second-color);
  line-height: 30px;
  font-size: var(--p-font);
}

.row:hover {
  transform: translateY(-5px);
}

.penguasaanbahasa {
  background: var(--bg-color);
}

.k-pengantar {
  text-align: center;
}

.k-pengantar h2 {
  font-size: 55px;
  margin-bottom: 15px;
}

.k-pengantar p {
  color: var(--second-color);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: var(--p-font);
}

.peng-b {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.box img {
  max-width: 100%;
  width: 500px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.box p {
  color: var(--second-color);
  font-size: var(--p-font);
  margin-bottom: 15px;
}

.box h5 {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.box img:hover {
  transform: scale(1.1);
}

.footer {
  background: var(--main-color);
  padding: 20px;
  color: var(--text-color);
  text-align: center;
  font-size: var(--p-font);
}

.footer p {
  color: var(--text-color);
  text-decoration: none;
}

@media (max-width: 1270px) {
  nav {
    padding: 18px 4%;
    transition: 0.2s;
  }

  nav.sticky {
    padding: 10px 4%;
    transition: 0.2s;
  }

  section {
    padding: 80px 4%;
    transition: 0.2s;
  }

  :root {
    --p-font: 1rem;
    --h2-font: 3.5rem;
  }
}

@media (max-width: 990px) {
  .tentang {
    height: 85vh;
  }

  #menu-icon {
    display: initial;
  }

  .navbar {
    position: absolute;
    top: -700px; /* Navbar awal tersembunyi */
    left: 0;
    right: 0;
    flex-direction: column;
    background: var(--main-color);
    text-align: left;
    transition: all 0.3s;
  }

  .navbar.active {
    top: 100%; /* Navbar akan muncul saat aktif */
  }

  .navbar a {
    display: block;
    padding: 1.1rem;
    margin: 1.3rem;
    border-left: 2px solid var(--text-color);
  }

  .navbar a:hover {
    background: var(--main-color);
  }

  .navbar a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--text-color);
    transition: all 0.3s;
  }

  .navbar .active {
    top: 100%;
  }

  .kontaksaya {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 768px) {
  .utama {
    flex-direction: column;
    align-items: flex-start;
  }

  .texttentang {
    width: 100%;
  }

  .texttentang h2 {
    font-size: 40px;
  }

  .texttentang h5 {
    font-size: 18px;
  }

  .texttentang p {
    font-size: 16px;
  }

  .btn-h {
    width: 100%;
    text-align: center;
  }

  .kontaksaya form {
    width: 100%;
  }

  .kontaksaya form input:first-child {
    padding: 16px 15px;
  }

  .kontaksaya form input:last-child {
    width: 100%;
    position: static;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .logoku {
    font-size: 24px;
  }

  .navbar a {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .btn-h {
    font-size: 12px;
    padding: 0 15px;
    height: 35px;
    line-height: 33px;
  }

  .texttentang h2 {
    font-size: 32px;
  }

  .texttentang h5 {
    font-size: 16px;
  }

  .texttentang p {
    font-size: 14px;
  }

  .pengantar h2,
  .k-pengantar h2 {
    font-size: 40px;
  }

  .pengantar p,
  .k-pengantar p {
    font-size: 0.9rem;
  }

  .row h3 {
    font-size: 18px;
  }

  .row p {
    font-size: 0.9rem;
  }

  .box h5 {
    font-size: 16px;
  }

  .box p {
    font-size: 0.9rem;
  }
}
